.font-weight-light{
    font-weight: lighter;
    font-size: 11px;
    width: 10%;
    padding:0;
}

img {
    width: 40px;
    height: 40px;
}

.button {
    height: 30px;
    width: 45px;
    border-radius: 20px;
}

.date {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    font-size: 13px;
}

