.bg-color{
    background-color: #F57C00;
    color: white;
    height: 50px;
}

.active{
    color: white;
}

.active-logout{
    color: black;
}

#cart,
#users {
    color: white;
    margin-right: 10px;
}

#badge {

    width: 10px;
    height: 10px;
    margin-left:15px;
}

.menuItem {
    margin-bottom: 6px;
    font-size: 13px;
}

.menuItem:hover {
    text-decoration-color: white;
    text-decoration: underline;
    cursor: pointer;
}
